<div class='about-section'>
  <h2>公司简介</h2>
  <p>
    这是一段公司简介...
  </p>
</div>
<hr>
<div class='about-section'>
  <h2>神墨文化使命</h2>
  <p>
    关于我们的使命...
  </p>
</div>
<hr>
<div class='about-section'>
  <h2>算盘博物馆</h2>
  <div class='row'>
    <div class='col-xs-4'>
      <img src='http://lowres-picturecabinet.com.s3-eu-west-1.amazonaws.com/43/main/11/89958.jpg' class='img-responsive' />
    </div>
    <div class='col-xs-4'>
      <img src='http://lowres-picturecabinet.com.s3-eu-west-1.amazonaws.com/43/main/11/89958.jpg' class='img-responsive' />
    </div>
    <div class='col-xs-4'>
      <img src='http://lowres-picturecabinet.com.s3-eu-west-1.amazonaws.com/43/main/11/89958.jpg' class='img-responsive' />
    </div>
  </div>
</div>
