<div class='abacus-background bg__s'></div>

<div class='index-section first-section'>
  <h1>珠心算</h1>
  <h3>这里是一句话广告语...</h3>
  <div>
    <a href="<%= new_user_session_path %>" class="btn btn-raised btn-primary" >注册报名<div class="ripple-container"></div></a>
    <div><a href='#'>想成为老师？</a></div>
    <div><a href='#'>想加盟我们？</a></div>
  </div>
</div>

<div class='big-section'>
  <h2>关于珠心算</h2>
  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      <i class='icon icon-light'></i>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <i class='icon icon-good'></i>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <i class='icon icon-infinity'></i>
    </div>
  </div>
</div>
<div class='big-section'>
  <h2>珠心算历史</h2>
  <p>这里是珠心算的历史</p>
</div>
<!-- <div class="parallax">
  <div class="bg__foo">foo</div>
</div>
 -->