<div class='children-background bg__s'></div>

<div class='index-section first-section'>
  <h1>珠心算</h1>
  <h3>这里是一句话广告语...</h3>
  <div>
    <a href="<%= new_user_session_path %>" class="btn btn-raised btn-primary" >注册报名<div class="ripple-container"></div></a>
    <div><a href='#'>想成为老师？</a></div>
    <div><a href='#'>想加盟我们？</a></div>
  </div>
</div>

<div class='big-section second-section container'>
  <h1>珠心算，不仅仅是数学</h1>
  <p></p>
  <div class='row second-section-body-container'>
    <div class='col-xs-12 col-sm-4'>
      <i class='icon icon-light'></i>
      <p>培养瞬时观察和快速计算的能力</p>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <i class='icon icon-sigma'></i>
      <p>奠定数学与逻辑推理的基础</p>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <i class='icon icon-infinity'></i>
      <p>开发记忆能力，想象力，和潜能</p>
    </div>
  </div>
</div>

<div class='another-background bg__s'></div>

<div class='big-section'>
  <h2>珠心算历史</h2>
  <p>这里是珠心算的历史</p>
</div>
<!-- <div class="parallax">
  <div class="bg__foo">foo</div>
</div>
 -->