<div class='big-section'>
  <h1>珠心算</h1>
  <h3>这里是一句话广告语...</h3>
  <div>
    <a href="<%= new_user_session_path %>" class="btn btn-raised btn-primary" >注册报名<div class="ripple-container"></div></a>
    <div><a href='#'>想成为老师？</a></div>
    <div><a href='#'>想加盟我们？</a></div>
  </div>
</div>
<div class='big-section'>
  <h2>关于珠心算</h2>
  <p>这里是珠心算的介绍</p>
</div>
<div class='big-section'>
  <h2>珠心算历史</h2>
  <p>这里是珠心算的历史</p>
</div>
