<div class='index-banner'>
  <h1>珠心算</h1>
  <h3>这里是一句话广告语...</h3>
  <div>
    <a data-toggle="collapse" role='button' aria-expanded="false" href='#userFormDropdown' aria-controls="userFormDropdown">注册报名</a>
    <div class="collapse" id="userFormDropdown">
      <div class='user-form-wrapper'>
        <%= render 'layouts/user_form' %>
      </div>
    </div>
  </div>
  <div><a href='#'>想成为老师？</a></div>
  <div><a href='#'>想加盟我们？</a></div>
</div>
<div class='index-banner'>
  <h2>关于珠心算</h2>
  <p>这里是珠心算的介绍</p>
</div>
<div class='index-banner'>
  <h2>珠心算历史</h2>
  <p>这里是珠心算的历史</p>
</div>
<div class='index-banner'>
  <h2>珠心算博物馆</h2>
  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2'>
      <img src='http://lowres-picturecabinet.com.s3-eu-west-1.amazonaws.com/43/main/11/89958.jpg' class='img-responsive' />
    </div>
    <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2'>
      <img src='http://lowres-picturecabinet.com.s3-eu-west-1.amazonaws.com/43/main/11/89958.jpg' class='img-responsive' />
    </div>
    <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2'>
      <img src='http://lowres-picturecabinet.com.s3-eu-west-1.amazonaws.com/43/main/11/89958.jpg' class='img-responsive' />
    </div>
  </div>
</div>
