<div class='big-section container-big-padding'>
  <h2>神墨公司简介</h2>
  <p>
    神墨教育成立于1998年，以培养兴趣，发展特长，全面践行素质教育为办学宗旨，重在品德教育和学习力的培养，是来自中国的校外少儿素质教育领域的领导品牌。 截至2015年，神墨拥有分校6000余所，并在包括中国香港在内的39个国家和地区设立海外授权分支机构106余所。其课程体系包括珠心算、少儿口才与演讲、绘画、练字、英语、国学、拼音、中华成语、作文、剪纸、航模、机器人、围棋、学习力训练、右脑开发、感统训练、注意力训练、品德训练、情商训练等领域，学员遍及美国、韩国、新加坡、马来西亚、泰国、文莱、越南、缅甸、老挝、菲律宾、印度等地，同时在学学员超过260万人次，总计学员超过1100万人次。 神墨立足于中华文化传承和弘扬，秉承“平等、尊重、信任、赏识、关注、激励”的教育理念，通过“快乐教育”的方式，启迪学生的“天性”，践行“助亿万人进步”的使命，从而推动社会的发展与进步。
  </p>
</div>
<hr>
<div class='big-section container-big-padding'>
  <h2>神墨文化使命</h2>
  <p>
    关于我们的使命...
  </p>
</div>
<hr>
<div class='big-section container-big-padding'>
  <h2>算盘博物馆</h2>
  <p></p>
  <div class='row'>
    <% @abacus_images.each do |url| %>
      <a class='col-xs-6 col-sm-4 abacus-images-container img-enlargable' href='<%= url %>' >
        <img src='<%= url %>' class='img-responsive img-medium' />
      </a>
    <% end %>
  </div>
</div>
