
<div class='container'>
  <div class='panel panel-default'>
    <div class="panel-heading">Sign Up</div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
        <fieldset>
          <%= devise_error_messages! %>

          <div class='form-group is-empty'>
            <label for='user_email' class='col-md-2 control-label'>Email</label>
            <div class='col-md-10'>
              <input type='email' class='form-control' id='user_email' placeholder='Email' name='user[email]' autofocus='autofocus' />
            </div>
          </div>

          <div class='form-group is-empty'>
            <label for='user_first_name' class='col-md-2 control-label'>First Name</label>
            <div class='col-md-10'>
              <input type='text' class='form-control' id='user_first_name' placeholder='First Name' name='user[first_name]' />
            </div>
          </div>

          <div class='form-group is-empty'>
            <label for='user_middle_name' class='col-md-2 control-label'>Middle Name</label>
            <div class='col-md-10'>
              <input type='text' class='form-control' id='user_middle_name' placeholder='Middle Name' name='user[middle_name]' />
            </div>
          </div>

          <div class='form-group is-empty'>
            <label for='user_last_name' class='col-md-2 control-label'>Last Name</label>
            <div class='col-md-10'>
              <input type='text' class='form-control' id='user_last_name' placeholder='Last Name' name='user[last_name]' />
            </div>
          </div>

          <div class='form-group is-empty'>
            <label for='user_password' class='col-md-2 control-label'>Password</label>
            <div class='col-md-10'>
              <input type='password' class='form-control' id='user_password' placeholder='Password' name='user[password]' autocomplete='off'/>
            </div>
          </div>

          <div class='form-group is-empty'>
            <label for='user_password_confirmation' class='col-md-2 control-label'>Password Confirmation</label>
            <div class='col-md-10'>
              <input type='password' class='form-control' id='user_password_confirmation' placeholder='Type again' name='user[password_confirmation]' autocomplete='off' />
            </div>
          </div>

          <button type='submit' class='btn btn-primary'>Submit
            <div class='ripple-container'></div>
          </button>
        </fieldset>

      <% end %>
    </div>

  </div>
</div>
