<div class='container container-big-padding'>
  <div class='row'>
    <div class='col-xs-4 left-panel'>
      <h3>Welcome, <%= current_user.first_name %></h3>
    </div>
    <div class='col-xs-4'>
      <a href='<%= edit_user_registration_path %>'>
        <div class='well center well-shallow'>
          <label class='head-label'>Manage Personal Info</label>
          <hr>
          <i class='icon icon-checklist'></i>
        </div>
      </a>
      <a href='<%= user_children_path current_user.id %>'>
        <div class='well center well-shallow'>
          <label class='head-label'>Manage My Kids Info</label>
          <hr>
          <i class='icon icon-checklist'></i>
        </div>
      </a>
    </div>
  </div>
</div>
