.about-section{
  min-height: 600px;
  padding:10%;
}
.user-form-display{
  /*display: none;*/
  /*text-align: center;*/
  position: fixed !important;
}

.index-banner{
  min-height: 600px;
  padding: 10%;
}
