<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">神墨</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="<%= shenmo_about_path %>">关于神墨</a></li>
        <li><a href="<%= articles_path %>">新闻中心</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">想成为老师？</a></li>
        <li><a href="">想加盟我们？</a></li>
        <li><a href="">注册报名</a></li>
      </ul>
    </div>
  </div>
</div>
